.App {
  text-align: center;
}

body {
  background: rgb(57, 60, 80)
}

.sigIn {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  color: aliceblue
}

.pictureUser{
  margin: 0 auto;
  text-align: center;
  border-radius: 80%;
  border: 2px solid #0c5a79;
  width: 80px;
}
.logo{
  width: 200px; 
  height: 200px;
  text-align: center;
}


.title {
  font-family: 'Righteous', cursive;
  font-size : 12000% ;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 2px 2px rgba(248,255,249,0);
  color: #F0F6F3
}

.saludo {
  font-size: 245%;
  color: white;
  font-family: "URW Chancery L",
}

@import url(https://fonts.googleapis.com/css?family=Acme&display=swap);

 .tit {
  font-size: 145%;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;

}

 .text {
  border: 1px solid #DBE1EB;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  background-color: #17141d;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #F0F6F3
}

.btnAdd{
  background-color: #17141d;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
  color: #F0F6F3

}

.btnAdd:hover{
  transform: translateY(-2px);
transition: 0.2s ease-out;
}



.text:hover {
  transform: translateY(-2px);
  transition: 0.2s ease-out;
}

.cardTitle {
  text-shadow:
  2px -2px 0 rgb(121, 120, 120); 
  color: rgb(255, 255, 255);
  text-align: center;
}

.icon{
  position:absolute;
    bottom:5px;
    right:10px;
    margin-left: 50px;
    
}


.icon:hover{
  transform: translateY(-2px);
transition: 0.2xs ease-out;
    
}

.container .titleList {
  color: #fff;
  text-align: center;
  text-shadow:
  2px -2px 0 rgb(121, 120, 120); 
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.titleList {
  color: #fff;
  text-align: center;
  text-shadow:
  2px -2px 0 rgb(121, 120, 120); 
  font-family: "Comic Sans MS", cursive, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
	box-sizing: border-box;
}

.card_main .wrapper {
  
  height: 230px;
  width: 200px;
  border-radius: 10px;
  /*margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  font-family: "Comic Sans MS"
  
}

.card_main_container {
  
  text-align: left;
	height: 100%;
  display: inline-block;

}

.card_main {
  
  text-align: left;
	display: block;
	padding: 0 1.7rem;
	font-family: 'Open Sans', sans-serif;
}


.card_main:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}


.card_main .wrapper {
  
  color: #fff;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
	position: relative;
  overflow: hidden;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  font-family: "Comic Sans MS",
  
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  margin-top: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/
